@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:100,200,300,400,500,600,700,800,900');
$fonte-p: 'Encode Sans Condensed', sans-serif;

$col-center: 1025px;

@import 'normalize';
@import 'header';
@import 'content';
@import 'footer';

body{
	height: 100%;
	font-family: $fonte-p;
}

.col-center{
	position: relative;
	width: 100%;
	max-width: $col-center;
	margin: 0 auto;
}